<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0"/>
    <title>lalala</title>
</head>
<body>
<header class="row">
    <div class="small-12 columns">
        <div class="imgs small-7 medium-8 medium-push-2">
            <img src="http://pic.bugua.com/1bf49d2fb0c0457113493d6e9565c0e9.png" alt="">
            <img src="http://pic.bugua.com/554b3257baf5388a848b06495f0ddba7.png" alt="">
        </div>
    </div>
</header>
<div class="update_everyday row_picker text-center row">
    <div class="small-12 columns">
        <h1>每日更新</h1>

        <h2>新鲜表情每日更，天天记得来几“发”！</h2>
        <img src="http://pic.bugua.com/1e645a0ea2811735041e957e7993acd9.png" alt="">
    </div>
</div>
<div class="send_dirctly row_picker text-center row">
    <div class="small-12 columns">
        <h1>直接发送</h1>

        <h2>喜欢表情直接发，手机内存不再怕！</h2>
        <img src="http://pic.bugua.com/46d00a564080d235c8070253e5edd9c4.png" alt="">
    </div>
</div>
<div class="save row_picker text-center row">
    <div class="small-12 columns">
        <h1>收藏</h1>

        <h2>盒子收藏点一点，微信、QQ全通用！</h2>
        <img src="http://pic.bugua.com/b07805d5084ca4626827ff8df3107eb9.png" alt="">
    </div>
</div>
</body>
</html>

